database: {
  postgres: {
    driver_name: "postgres",
    username: "pinterest_user",
    password: "662f2710-4e08-4be7-a278-a53ae86ba7f6",
    db_name: "pinterest_db",
    ssl_mode: "disable",
    host: "localhost"
  }
}

web: {
  server: {
    address: "localhost",
    port: "8008",
  },
  static: {
    dir_img: "static/img",
    url_img: "/static/img",
    dir_avt: "/static/avatar/",
  },
}

token: {
  secretname: "SECRET",
  cookiename: "eternity",
  value: 7,
}

logger: {
  gin_file:  "/var/log/pinterest/gin.log",
  gin_level: "debug",  # (release|test|debug)
  common_file: "/var/log/pinterest/common.log",
  common_level: "debug",  # (panic|fatal|error|warn|info|debug|trace)
  stdout_log: "true",
}

